[MODE]
#mode={"焕商分佣_test":{"焕商分佣":"all","环境":"test"}}
#mode={"焕商分佣_test":{"焕商分佣":[1],"环境":"test"}}

#mode={"焕商分佣_mtest":{"焕商分佣":"all","环境":"mtest"}}
mode={"焕商分佣_mtest":{"焕商分佣":[1,2,3,4,5],"环境":"mtest"}}

#mode={"焕商分佣_dev1":{"焕商分佣":"all","环境":"dev1"}}
#mode={"焕商分佣_dev1":{"焕商分佣":[5],"环境":"dev1"}}


#mode={"焕商分佣_test":{"焕商分佣":"all","环境":"test"},"焕商分佣_mtest":{"焕商分佣":"all","环境":"mtest"}}