*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*
API_AUTO/tools/__pycache__/
API_AUTO/__pycache__/
fenyong/__pycache__/
fenyong/mysql/__pycache__/
fenyong/tools/__pycache__/
EverydayWechat-master/
fenyong/test_data/__pycache__/
fenyong_online/mysql/__pycache__/
fenyong_online/tools/__pycache__/
fenyong_online/test_data/__pycache__/
fenyong_online/__pycache__/
fenyong_daiwanshang/tools/__pycache__/
fenyong_daiwanshang/test_data/__pycache__/
fenyong_daiwanshang/__pycache__/
*.pyc
AutomationTest-master/
AutoTest_script-Appium_Connect-Windows-Mac-App/
AutoZone-master/
PyAutoTest-master/
apptest-master/