*.iws
*.iml
*.ipr
target/
.settings
.project
.classpath
.externalToolBuilders
*.class
*svn/
.idea/
*.jar
~*
API_AUTO/tools/__pycache__/
API_AUTO/__pycache__/
fenyong/__pycache__/
fenyong/mysql/__pycache__/
fenyong/tools/__pycache__/
EverydayWechat-master/
fenyong/test_data/__pycache__/
fenyong_online/mysql/__pycache__/
fenyong_online/tools/__pycache__/
fenyong_online/test_data/__pycache__/
fenyong_online/__pycache__/
fenyong_daiwanshang/tools/__pycache__/
fenyong_daiwanshang/test_data/__pycache__/
fenyong_daiwanshang/__pycache__/
*.pyc
AutomationTest-master/
AutoTest_script-Appium_Connect-Windows-Mac-App/
AutoZone-master/
PyAutoTest-master/
apptest-master/
Hobay/Outputs/Allure/html/app.js
Hobay/Outputs/Allure/html/favicon.ico
Hobay/Outputs/Allure/html/index.html
Hobay/Outputs/Allure/html/styles.css
Hobay/Outputs/Allure/html/data/behaviors.csv
Hobay/Outputs/Allure/html/data/behaviors.json
Hobay/Outputs/Allure/html/data/categories.csv
Hobay/Outputs/Allure/html/data/categories.json
Hobay/Outputs/Allure/html/data/packages.json
Hobay/Outputs/Allure/html/data/suites.csv
Hobay/Outputs/Allure/html/data/suites.json
Hobay/Outputs/Allure/html/data/timeline.json
Hobay/Outputs/Allure/html/data/attachments/da252f0a04be656f.txt
Hobay/Outputs/Allure/html/data/test-cases/76f5bf5ce5ac7bfa.json
Hobay/Outputs/Allure/html/export/influxDbData.txt
Hobay/Outputs/Allure/html/export/mail.html
Hobay/Outputs/Allure/html/export/prometheusData.txt
Hobay/Outputs/Allure/html/history/categories-trend.json
Hobay/Outputs/Allure/html/history/duration-trend.json
Hobay/Outputs/Allure/html/history/history.json
Hobay/Outputs/Allure/html/history/history-trend.json
Hobay/Outputs/Allure/html/history/retry-trend.json
Hobay/Outputs/Allure/html/plugins/behaviors/index.js
Hobay/Outputs/Allure/html/plugins/packages/index.js
Hobay/Outputs/Allure/html/plugins/screen-diff/index.js
Hobay/Outputs/Allure/html/plugins/screen-diff/styles.css
Hobay/Outputs/Allure/html/widgets/behaviors.json
Hobay/Outputs/Allure/html/widgets/categories.json
Hobay/Outputs/Allure/html/widgets/categories-trend.json
Hobay/Outputs/Allure/html/widgets/duration.json
Hobay/Outputs/Allure/html/widgets/duration-trend.json
Hobay/Outputs/Allure/html/widgets/environment.json
Hobay/Outputs/Allure/html/widgets/executors.json
Hobay/Outputs/Allure/html/widgets/history-trend.json
Hobay/Outputs/Allure/html/widgets/launch.json
Hobay/Outputs/Allure/html/widgets/retry-trend.json
Hobay/Outputs/Allure/html/widgets/severity.json
Hobay/Outputs/Allure/html/widgets/status-chart.json
Hobay/Outputs/Allure/html/widgets/suites.json
Hobay/Outputs/Allure/html/widgets/summary.json
Hobay/Outputs/Allure/result/745a4882-27c8-4895-ac75-9286c4c2b0ec-attachment.txt
Hobay/Outputs/Allure/result/93f61588-b064-4003-acb9-1fa6e64cebb7-container.json
Hobay/Outputs/Allure/result/9d48b383-5f46-420e-a031-ce430a712de6-result.json
