[MODE]
#mode={"焕商分佣_test":{"焕商分佣":"all","环境":"test","支付密码":"123456"}}
mode={"焕商分佣_test":{"焕商分佣":[2],"环境":"test","支付密码":"123456"}}

#mode={"焕商分佣_mtest":{"焕商分佣":"all","环境":"mtest","支付密码":"123456"}}
#mode={"焕商分佣_mtest":{"焕商分佣":[20],"环境":"mtest","支付密码":"123456"}}

#mode={"焕商分佣_dev1":{"焕商分佣":"all","环境":"dev1","支付密码":"123456"}}
#mode={"焕商分佣_dev1":{"焕商分佣":[17],"环境":"dev1","支付密码":"123456"}}


#mode={"焕商分佣_test":{"焕商分佣":"all","环境":"test"},"焕商分佣_mtest":{"焕商分佣":"all","环境":"mtest","支付密码":"123456"}}